{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-one-expression-per-line": "off",
    "react/prop-types": "off",
    "no-console": "warn",
    "no-eval": "warn",
    "import/first": "error",
    "import/no-extraneous-dependencies": [
      "warn",
      {
        "devDependencies": [
          "config/webpack/**"
        ],
        "optionalDependencies": false
      }
    ]
  }
}
