<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACCIDENT</key>
	<dict>
		<key>tag</key>
		<integer>90</integer>
		<key>image</key>
		<string>ACCIDENT</string>
		<key>right</key>
		<string>Mobile-DisplayTrainingAccident</string>
	</dict>
	<key>BEHIND WHEEL</key>
	<dict>
		<key>tag</key>
		<integer>80</integer>
		<key>image</key>
		<string>WHEEL</string>
		<key>right</key>
		<string>Mobile-DisplayTrainingClassCEvaluation</string>
	</dict>
	<key>PRE TRIP</key>
	<dict>
		<key>tag</key>
		<integer>88</integer>
		<key>image</key>
		<string>PRETRIP</string>
		<key>right</key>
		<string>Mobile-DisplayTrainingPreTrip</string>
	</dict>
	<key>BUS EVAL</key>
	<dict>
		<key>tag</key>
		<integer>89</integer>
		<key>image</key>
		<string>BUS</string>
		<key>right</key>
		<string>Mobile-DisplayTrainingBus</string>
	</dict>
	<key>EYE MOVEMENTS</key>
	<dict>
		<key>image</key>
		<string>EYE</string>
		<key>tag</key>
		<integer>87</integer>
		<key>right</key>
		<string>Mobile-DisplayTrainingEyeMovements</string>
	</dict>
	<key>STUDENTS</key>
	<dict>
		<key>image</key>
		<string>STUDENTS</string>
		<key>tag</key>
		<integer>81</integer>
		<key>right</key>
		<string>Mobile-DisplayTrainingStudents</string>
	</dict>
	<key>INSTRUCTORS</key>
	<dict>
		<key>image</key>
		<string>INSTRUCTORS</string>
		<key>tag</key>
		<integer>82</integer>
		<key>right</key>
		<string>Mobile-DisplayTrainingInstructors</string>
	</dict>
	<key>COMPANIES</key>
	<dict>
		<key>tag</key>
		<integer>92</integer>
		<key>image</key>
		<string>COMPANYTRAINING</string>
		<key>right</key>
		<string>Mobile-DisplayTrainingCompanySetup</string>
	</dict>
	<key>USERS</key>
	<dict>
		<key>image</key>
		<string>USERS</string>
		<key>right</key>
		<string>Mobile-DisplayUsers</string>
		<key>tag</key>
		<integer>95</integer>
	</dict>
	<key>GROUPS</key>
	<dict>
		<key>image</key>
		<string>USERGROUPS</string>
		<key>tag</key>
		<integer>94</integer>
		<key>right</key>
		<string>Mobile-DisplayGroups</string>
	</dict>
	<key>SETTINGS</key>
	<dict>
		<key>image</key>
		<string>SETTINGS</string>
		<key>tag</key>
		<integer>9</integer>
		<key>right</key>
		<string>Mobile-Displaysettings</string>
	</dict>
	<key>SYNC STATUS</key>
	<dict>
		<key>tag</key>
		<integer>15</integer>
		<key>image</key>
		<string>SYNCSTATUS_glass</string>
		<key>right</key>
		<string>Mobile-DisplaySyncStatus</string>
	</dict>
	<key>SYNC NOW</key>
	<dict>
		<key>tag</key>
		<integer>31</integer>
		<key>image</key>
		<string>SYNCNOW</string>
		<key>right</key>
		<string>Mobile-DisplaySyncNow</string>
	</dict>
	<key>MAP</key>
	<dict>
		<key>tag</key>
		<integer>26</integer>
		<key>image</key>
		<string>MAPS</string>
		<key>right</key>
		<string>Mobile-DisplayMap</string>
	</dict>
	<key>TRAINING MAP</key>
	<dict>
		<key>tag</key>
		<integer>110</integer>
		<key>image</key>
		<string>MAPS</string>
		<key>right</key>
		<string>Mobile-DisplayTrainingMaps</string>
	</dict>
	<key>TEST</key>
	<dict>
		<key>image</key>
		<string>WHEEL</string>
		<key>tag</key>
		<integer>102</integer>
		<key>right</key>
		<string>Mobile-DisplayTrainingTest</string>
	</dict>
	<key>EQUIPMENT</key>
	<dict>
		<key>image</key>
		<string>CSD_UPS_EQUIPMENT</string>
		<key>tag</key>
		<integer>103</integer>
		<key>right</key>
		<string>Mobile-DisplayTrainingEquipment</string>
	</dict>
	<key>SCORES</key>
	<dict>
		<key>image</key>
		<string>LOGS_LIST</string>
		<key>tag</key>
		<integer>107</integer>
		<key>right</key>
		<string>Mobile-DisplayTrainingScores</string>
	</dict>
	<key>DASHBOARD</key>
	<dict>
		<key>image</key>
		<string>DASHBOARD</string>
		<key>tag</key>
		<integer>109</integer>
		<key>right</key>
		<string>Mobile-DisplayCharts</string>
	</dict>
</dict>
</plist>
